VITE_APP_PORT=3039
VITE_APP_PORT_DEV=3038
VITE_BFF_URL=http://localhost:9009

# For local development, set a handlaggningId from the OUL instead of passing from portal
VITE_DEV_HANDLAGGNING_ID=00be1ee0-5ffd-4394-bec2-4634770d9351
